node_modules
*.log
/build
Makefile
*.obj
*.o
*.a
*.lib
open_jtalk.exe
open_jtalk
hts_engine.exe
hts_engine
mecab-dict-index.exe
mecab-dict-index
**/.deps
autom4te.cache
config.h
stamp-h1
config.status
/.vscode
/docs